<!DOCTYPE html>
<html>
<head>
    ###header###
    <title><%- hub %> - Zen Sick</title>
</head>
<body>
    ###navbarmain###
    <div class="bars">
        <div class="Header">
            <h1><a href="/">Zen Sick</a></h1>
            <p><%- hub %></p>
        </div>
	</div>
	
	
    <!-- template thingy -->
	<div class="column">
	<% for(var i = 0; i < posts.length; i++) { %>
        <div class="<%- posts[i].type %>">
			<h2><a href="/<%- posts[i].type %>/<%- posts[i].id %>"><%- posts[i].title %></a></h2>
			<%- posts[i].body %>
            <div class='tags' id='t<%- posts[i].id %>'></div>
            <div id="time">
				<time><%- String(posts[i].created).slice(16, 21) %></time>
			</div>
		</div>
    <% } %>
	</div>
    <!-- end of template thingy -->
	
	
	
    <div class="bars">
        
        <!-- page buttons -->       
        ###pagebar###
        <!-- end of page buttons -->
        
        ###footer###
    </div>
</body>
</html>
