<!DOCTYPE html>
<html>
<head>
    <!-- nyaa nyaa http://www.youtube.com/watch?v=Am12GlkJktc -->
    <meta charset="utf-8">
    <meta name="viewport" content="ya-dock=#fff,width=device-width,initial-scale=1">
    <meta name="description" content="Цифровое издание об искусстве, современной культуре, веб-проектах, музыке, литературе и образе жизни">
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/public/js/main.js"></script>
	<script src="/public/js/SlickNav-master/jquery.slicknav.js"></script>
	<link href="/public/slicknav.css" rel="stylesheet" type="text/css">
    <link rel="canonical" href="/" />
	<script>
		$(function () {
			$('#nyaa1').slicknav({
				prependTo: '#nav_bar',
				label: ''
			});
		});
	</script>
    <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/png">
	<title>Zen Sick</title>
</head>
<body>
    <div class="bars" id='nav_bar_cnt'>
		<div class="NavBar" id='nav_bar'>
			<ul id="nyaa1">
                <li><a href="/img">ART</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/literature">LITERATURE</a></li>
                <li><a href="/article">ARTICLES</a></li>
			</ul>
		</div>
    </div>
	
	<div class="bars" style="opacity:0; height:50px;">this must be invisible</div>
    
    <div class="bars">
        <div class="Header">
            <h1><a href="/">Zen Sick</a></h1>
            <p>The magazine about art, modern culture, net projects, music, experimental literature and lifestyle.</p>
        </div>
	</div>
	
	
    <!-- template thingy -->
	<div class="column">
	<% for(var i = 0; i < posts.length; i++) { %>
        <div class="<%- posts[i].type %>">
			<h2><a href="/<%- posts[i].type %>/<%- posts[i].id %>"><%- posts[i].title %></a></h2>
			<%- posts[i].body %>
            <div class='tags' id='t<%- posts[i].id %>'></div>
            <div id="time">
				<time><%- String(posts[i].created).slice(16, 21) %></time>
			</div>
		</div>
    <% } %>
	</div>
    <!-- end of template thingy -->
	
	
	
    <div class="bars">
        
        <!-- page buttons -->       
        <div class="page_bar">
            <div class="page_bar_inner">
                <% for(var i = 1; i <= posts_count; i += 1) { %>
                <div class="page_button<%= i == current_page ? ' page_button_current' : '' %>">
                    <a href="?p=<%- i %>"><%- i %></a>
                </div>
                <% } %>
            </div>
        </div>
        <style>
            .page_button_current {
                font-weight: bold;
                text-decoration: underline;
            }
            .page_bar {
                margin-top: 10px;
                text-align: center;
                width: 100%;
            }
            .page_bar_inner {
                margin: auto;
                display: inline-flex;
            }
            .page_button {
                padding: 5px;
                background: white;
                margin: 5px;
            }
            
            .page_button a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 24px;
                font-family: PT Sans,monospace;
            }
        </style>
        <!-- end of page buttons -->
        
        <%- block_footer %>
    </div>
</body>
</html>
