<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
	div {
		width: 750px;
		margin: auto;
	}
</style>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<script>
	var socket = io();
	socket.emit('start_editing', {user: '<%- username %>', id: 'p<%- post.id %>'});
	
	var sendinfo = function (form) {
		socket.emit('delete_post', 'p<%- post.id %>');
		form.submit();
	}
</script>



<div class="">
	<center>
	<h1>Удалить пост (насовсем)?</h1>
	<hr>
	<h3><%- post.title %></h3></center>
	<%- post.body %>
	<time><%- post.time %></time>
	<hr>
</div>
<div>
<center>
<a href="/admin" class='btn btn-lg btn-default'>Отмена</a>
<form method="post" action="/admin/delete" onsubmit="sendinfo(this);return false;" id="form" style="display:none;">
	<input type="text"  name="id" value='<%- post.id %>'>
</form>
<input type="submit" value="Удалить" class="btn btn-lg btn-danger" form="form">
</center>
</div>