<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
	.body>div {
		max-height:300px;
		max-width:100%;
		overflow-y:auto;
	}
	
	.time {
		width:160px;
	}
	
	.id {
		width:30px;
		font-weight:bold;
	}
	
	.type {
		width:50px;
	}
	
	.title {
		width:200px;
	}
	
	.switch {
		text-align:center;
	}
</style>
<br>
<center><a class="btn btn-primary btn-lg" href="/admin/add">Add new post here</a></center>
<br>

<table class="table table-condensed table-striped" style="margin:auto; width:98%; min-width:800px;">
	<thead>
		<th class="id">ID</th>
		<th class="type">TYPE</th>
		<th class="title">TITLE</th>
		<th class="body">BODY</th>
		<th class="time">TIME</th>
		<th class="switch">SHOW/HIDE</th>
	</thead>
	<% for(var i = 0; i < posts.length; i++) { %>
		<tr class="<% if(!posts[i].visible){ %>warning<% } %>">
			<td class="id"><%- posts[i].id %></td>
			<td class="type"><%- posts[i].type %></td>
			<td class="title"><a href="/articles/<%- posts[i].id %>"><%- posts[i].title %></a></td>
			<td class="body"><div><%- posts[i].body %></div></td>
			<td class="time"><time><%- String(posts[i].created).slice(0, 21) %></time></td>
			<td class="switch"><form action="/admin/switch/<%- posts[i].id %>" method="post">
				<input type='submit' value="Switch" class="btn btn-default">
			</form></td>
		</tr>
	<% } %>
</table>