<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="ya-title=#2f4cd6,ya-dock=#fff">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Istok+Web&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/png">
        <title>Zen Sick</title>
    </head>
    <body>
        <div class="NavBar">
            <ul>
                <li><a href="http://zensick.net/"><img src="/public/img/nav1.png"></a>
                <li><a href="http://zensick.net/lastissue">LAST ISSUE</a></li>
                <li><a href="http://zensick.net/art">ART</a></li>
                <li><a href="http://zensick.net/music">MUSIC</a></li>
                <li><a href="http://zensick.net/literature">LITERATURE</a></li>
                <li><a href="http://zensick.net/articles">ARTICLES</a></li>
            </ul>
        </div>
        <div class="column">
            <%- posts[0].id %>
            <%- posts[0].type %>
                <a href="/articles/<%- posts[0].id %>"><%- posts[0].title %></a>
            <%- posts[0].body %>
            <time><%- String(posts[0].created).slice(16, 21) %></time>
        </div>
    </body>
</html>