<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="ya-title=#2f4cd6,ya-dock=#fff">-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">
            $(function() {
	           $('#music').draggable();
            });
    </script>
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png">
    <title>Zen Sick</title>
	<style>
		body {
			min-width:0px;
		}
		.article {
			max-width:750px;
			width:94%;
			margin:auto;
		}
	</style>
</head>
<body>
	<div style="width: 100%;text-align:center;margin:0px; padding:15px;">
		<form class="submitbar" method="get" action="/admin" style="display:inline;" id="back"></form>
		<form class="submitbar" method="post" action="/admin" style="display:inline-block;" id="forward">
			<input name="title" type="text" value="<%- title %>" style="display:none;">
			<input name="type" type="text" value="<%- type %>" style="display:none;">
			<textarea name="body" cols="40" rows="3" style="display:none;"><%- unrendered %></textarea>
		</form>
		<input type="submit" value="Cancel" class="btn btn-default btn-lg" form="back">
		<input type="submit" value="Proceed" class="btn btn-primary btn-lg" form="forward">
	</div>
	
	<div class="<%- type %>">
		<h3><a href=""><%- title %></a></h3>
		<%- rendered %>
		<div id="time">
			<time><%- time %></time>
		</div>
	</div>
</body>
</html>
