<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="ya-title=#2f4cd6,ya-dock=#fff">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
            $(function() {
	           $('#music').draggable();
            });
    </script>
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png">
    <title>Zen Sick</title>
</head>
<body>
	<div style="width: 100%; height: 60px; background-color:red;text-align:center;margin:0px;">
		<form class="submitbar" method="get" action="/admin" style="display:inline;">
			<input type="submit" value="Cancel" style="height:50px">
		</form>
		<form class="submitbar" method="post" action="/admin" style="display:inline;">
			<input name="title" type="text" value="<%- title %>" style="display:none;"><br>
			<input name="type" type="text" value="<%- type %>" style="display:none;"><br>
			<textarea name="body" cols="40" rows="3" style="display:none;"><%- body %></textarea>
			<input type="submit" value="Proceed" style="height:50px; font-weight:bold;">
		</form>
	</div>
	
	
    <div class="NavBar">
        <ul>
            <li><a href="http://zensick.net/lastissue">LAST ISSUE</a></li>
            <li><a href="http://zensick.net/art">ART</a></li>
            <li><a href="http://zensick.net/music">MUSIC</a></li>
            <li><a href="http://zensick.net/literature">LITERATURE</a></li>
            <li><a href="http://zensick.net/articles">ARTICLES</a></li>
        </ul>
    </div>
    <div class="Header">
        <h1><a href="http://rinsdesyu.github.io/another_directory/another_page.html">Zen Sick</a></h1>
        <p>The magazine about art, modern culture, net projects, music, experimental literature and lifestyle.</p>
    </div>
	
	<div class="article">
		<h3><a href=""><%- title %></a></h3>
		<%- body %>
		<div id="time">
			<time><%- time %></time>
		</div>
	</div>
	
	<div class="lowbar">
        <ul>
            <li><a href="http://zensick.net/about">About</a></li>
            <li><a href="http://zensick.net/authors">Authors</a></li>
            <li><a href="http://zensick.net/contacts">Contact Us</a></li>
            <li><p>©Zen Sick Webzin. 2014.</p></li>
        </ul>
    </div>
</body>
</html>
